/*ConditionFilter*/
#Filter_CCheckBoxDelegate_m_ptrCheckBox:indicator
{ 
width: 14px; height: 14px;
}
#Filter_CCheckBoxDelegate_m_ptrCheckBox:indicator::unchecked 
{
image:url(image/choice_normal.svg);
}
#Filter_CCheckBoxDelegate_m_ptrCheckBox:indicator::checked 
{
image:url(image/choice_multiple_select.svg);
}

#Filter_CCondtionFilterButton_m_pConditionLabel1
{
background:rgba(255,255,1,0);
border:none;font-size:13px;
font-family:"Microsoft YaHei";
color:#ffa2abc3;
}

#Filter_CCondtionFilterButton_m_pConditionLabel2
{
background-color:rgba(0,0,0,0);
}






















/*BFBatchRenameWin*/



/*ViewProxyWidget*/


/*ViewUtilWin*/