QMenu{
    background: #1F202D;
    border: 1px solid #535764;
    border-radius: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

QMenu::item {
    font-family: "Microsoft YaHei";
    font-size: 13px;
    background: transparent;
    color: #FFA2ABC3;
    padding-left: 9px;
    margin-left: 8px;
    margin-right: 7px;
    margin-top: 1px;
    margin-bottom: 1px;
    background: transparent;
    color: #A2ABC3;
    height: 30px;
    border-radius: 6px;
}

QMenu::item:selected {
    background: #272936;
    color: #FFE0E7FA;
    border-radius: 6px;
}

QMenu::item:checked {
    background: #282f4a;
    color: rgba(79, 132, 250, 255);
    border-radius: 6px;
}

QMenu::indicator {
    width: 13px;
    height: 12px;
    left: 7px;
}

QMenu::separator {
    height: 1px;
    margin-top: 6px;
    margin-bottom: 6px;
    background: #333542;
    margin-left: 18;
    margin-right: 18px;
}

QMenu::indicator:non-exclusive:checked {
    image: url(image/dropbox_select.svg);
}

QMenu::indicator:exclusive:checked {
    image: url(image/dropbox_select.svg);
}

QMenu::item:disabled {
    background: transparent;
    color: #66E0E7FA;
}

QMenu::icon {
    padding-left: 20px;
}

QMenu::right-arrow {
    image: url(image/dropbox_next_normal.svg);
    margin-right: 10px;
}

QMenu::right-arrow:selected {
    image: url(image/dropbox_next_select.svg);
    margin-right: 10px;
}